<!doctype html>
<html>
<head>
    <title>PAMPHLET - Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6 load bootstrap css -->
     <!-- <link rel="stylesheet" href="/css/font-awesome.min.css">https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0 load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="app">
<div class="container">

    <div class="jumbotron text-center">
        <h1>PAMPHLET</h1>
        <p>classified ad hosting platform</p>
        <p><small>Login with:</small></p>
        <a href="/auth/facebook" class="btn btn-primary">Facebook</a>
    </div>

</div>
</body>
</html>